.task-filter-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 1.5rem;

	.filter-label {
		font-size: 0.9rem;
		font-weight: 600;
		color: #666;
	}

	.filter-buttons {
		display: flex;
		gap: 0.8rem;

		.filter-btn {
			padding: 0.4rem 1.2rem;
			border-radius: 0.5rem;
			border: 1px solid rgba(0, 0, 0, 0.1);
			background: white;
			cursor: pointer;
			text-transform: capitalize;
			transition: all 0.2s;

			&.active {
				font-weight: 600;
			}

			&.low {
				background-color: rgba(0, 81, 255, 0.2);
			}
			&.medium {
				background-color: rgba(255, 166, 0, 0.2);
			}
			&.high {
				background-color: rgba(255, 0, 0, 0.2);
			}
			&.all {
				background-color: #eee;
			}
		}
	}
}
