.task-item-wrapper {
	padding: 1rem;
	border: 1px solid rgba(138, 124, 124, 0.259);
	border-radius: 0.8rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
	height: 100%;

	.top-section {
		display: flex;
		justify-content: space-between;
		align-items: start;
		height: 2rem;

		input {
			width: 100%;
			font-size: 1rem;
			font-weight: 600;
			border: 1px solid #ddd;
			border-radius: 0.3rem;
		}

		.title {
			font-size: 1rem;
			text-align: start;
			font-weight: 600;
		}

		.priority {
			padding: 0.3rem 1rem;
			border-radius: 0.4rem;
			font-size: 0.8rem;
			text-transform: capitalize;
			&.low {
				background-color: rgba(0, 81, 255, 0.321);
			}
			&.medium {
				background-color: rgba(255, 166, 0, 0.452);
			}
			&.high {
				background-color: rgba(255, 0, 0, 0.45);
			}
		}
	}

	.context-section {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 1rem;
		flex: 1;

		textarea {
			width: 100%;
			flex: 1;
			padding: 0.5rem;
			height: auto;
			border: 1px solid #ddd;
			border-radius: 0.3rem;
			font-family: inherit;
			resize: none;
		}

		.date {
			font-size: 0.8rem;
			text-align: start;
		}

		.description {
			text-align: start;
			height: 10rem;
			overflow-y: auto;
		}
	}

	.actions-section {
		width: 100%;
		grid-template-columns: repeat(3, 1fr);
		display: grid;
		column-gap: 1rem;

		.btn {
			border-radius: 0.5rem;
			width: 100%;
			background-color: white;
			color: black;
			cursor: pointer;

			&.delete {
				background-color: rgba(200, 22, 40, 0.782);
			}
			&.done {
				background-color: rgba(11, 142, 9, 0.782);
			}
			&.undone {
				background-color: rgba(208, 106, 17, 0.782);
			}
			&.edit {
				background-color: rgba(17, 29, 193, 0.782);
				color: white;
			}
			&.not-edit {
				background-color: rgba(235, 156, 20, 0.782);
			}
		}
	}

	&.is-edit {
		.top-section {
			.priority {
				display: none;
			}
		}

		.actions-section {
			display: flex;
			justify-content: center;

			.btn {
				&.delete,
				&.done,
				&.undone {
					display: none;
				}
			}
		}
	}
}


